.software-card {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 80px 0;
}

.software-card.reverse {
  flex-direction: row-reverse;
}


.software-card .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.software-card .right {
  flex: 1;
}

.image-box {
  width: 100%;
  height:100%;
  border-radius: 16px;
  overflow: hidden;
 
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.ceo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.ceo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .software-card,
  .software-card.reverse {
    flex-direction: column;
  }

  .image-box img {
    height: auto;
  }
}
.border{
  border-left: 3px solid rgb(166, 51, 126);
  padding-left: 30px;
}