.customer {
    padding: 100px 0;
    text-align: center;
    overflow: hidden; /* Arrows બહાર નીકળે તો સ્ક્રોલબાર ન આવે તે માટે */
}

/* Review Container */
.review-box {
    width: 100%;
    display: flex !important;
    justify-content: center;
}

.review {
    width: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #6b7280;
    position: relative;
    padding: 20px 0;
}

.review::before, .review::after {
    font-size: 50px;
    color: rgb(180, 59, 126);
    position: absolute;
}
.review::before { content: "“"; left: -40px;  }
.review::after { content: "”"; right: -40px; bottom: -10px; }

/* Nav Slider Container */
.customer-nav {
    width: 100%;
    max-width: 900px;
    margin: 60px auto 0;
    position: relative;
    margin-top: 50px;

}
/* 

/* Common Arrow Design */
.customer-nav .arrow {
    position: absolute;
    top: 35px; /* ઈમેજની મધ્યમાં (70/2) */
    transform: translateY(-50%);
    background: #fff;
    border: 2px solid #57007B;
    color: #57007B;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    z-index: 99; /* સ્લાઈડરની ઉપર રાખવા */
    transition: all 0.3s ease;
    pointer-events: all;
}

.customer-nav .arrow:hover {
    background: #57007B;
    color: #fff;
}

/* Positioning Fix */
.customer-nav .prev {
    left: -80px !important;
}
.customer-nav .slick-disabled {
    opacity: 0.3;
    pointer-events: none;
}
.customer-nav .next {
    right: -80px !important;
    left: auto !important; /* આ ખાસ જરૂરી છે, નહીતર એરો ડાબી બાજુ રહેશે */
}

/* Nav Item Styling */
.customer .slick-slide img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px auto;
    opacity: 0.4;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.customer .slick-center img {
    opacity: 1;
    transform: scale(1.2);
    
}
.customer .slick-center .customertext-name {
color:rgb(87, 0, 123);
font-weight: 700;
}
.customer .slick-center .customertext-job {
color:#000000;
font-weight: 700;
}
.stars {
    display: flex;
    justify-content: center;
  gap:5px;
   align-items: center;
    margin-bottom: 10px;
    text-align: center;
     width: fit-content;   
    margin: 0 auto 5px;  
}

.stars img {
    width: 15px !important;
    height: 15px !important;
}

@media (max-width: 1024px) {
    .customer-nav { width: 80%; }
    .customer-nav .prev { left: -40px !important; }
    .customer-nav .next { right: -40px !important; }
}