.feature {
    padding: 0px 0px 0px 00px;
}

.feature img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.feature .box {
    gap: 20px;
    display: flex;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
}