.hero {
    padding: 100px;
    min-height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

/* Left Content */
.content {
    flex: 1;
    display: flex;
    align-items: center;
}

.con {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Right Image */
.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
    max-width: 520px;
    height: auto;
    object-fit: contain;
}

/* ---------------- Tablet ---------------- */



/* ---------------- Mobile ---------------- */
@media (max-width: 1070px) {
    .hero {
        flex-direction: column;
        padding: 70px 30px;
        text-align: center;
    }

    .content {
        justify-content: center;
    }

    .con {
        align-items: center;
        max-width: 100%;
    }

    .hero-img img {
        max-width: 320px;
        margin-top: 20px;
    }
}

/* ---------------- Small Mobile ---------------- */
@media (max-width: 480px) {
    .hero {
        padding: 60px 20px;
    }

    .hero-img img {
        max-width: 260px;
    }
}
