.stack {
    padding: 100px;
    border-bottom: 1px solid rgb(231, 218, 237);
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 15px;
    color: #666;
    cursor: pointer;
    padding-bottom: 6px;
    position: relative;
}


.tabs button.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(203, 86, 172);
}

.tech-grid {
    display: flex;         
    flex-wrap: wrap;       
    justify-content: center; 
    align-items: center;     
    gap: 60px 40px;         
    max-width: 1000px;   
    margin: 0 auto;
    animation: fadeUp 0.5s ease;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tech-item img {
    max-width: 120px;
    height: auto;
    transition: 0.3s ease;
}

.tech-item img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.tech-item {
    flex: 0 1 150px; 
    display: flex;
    justify-content: center;
}