/* Css/common.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Buttons */
.btn {
    padding: 14px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-primary {
    background-color: rgb(61, 99, 234);
    box-shadow: 2px 4px 40px 2px rgba(0, 0, 0, 0.2);
    width: 40%;
}

.btn-gradient {
    background-image: linear-gradient(20deg, #57007B, #6675F7);
    box-shadow: 2px 4px 40px 2px rgba(0, 0, 0, 0.2);
}

/* Gradient Text */
.gradient-text {
    font-weight: 700;
    display: inline;
}

.gradient-pink {
    background: linear-gradient(180deg, #DE4396 0%, #B76AC4 80%, #0D1C9F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-blue {
    background: linear-gradient(-70deg, #DE4396 0%, #B76AC4 30%, #406AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-end {
    background: linear-gradient(-100deg, #DE4396 0%, #B76AC4 30%, #406AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: end;
}
.gradient-end {
    background: linear-gradient(-100deg, #DE4396 0%, #B76AC4 30%, #406AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: end;
}
.gradient-purple {
    color: #57007B;
}

.gradient-purple-end {
    display: flex;
    justify-content: flex-end;
    color: #57007B;
    font-size: 16px;
    font-weight: 500;
    gap:10px
}


/* Typography */
.heading {
    line-height: 71px;
    color: #1A202C;
    font-size: 53px;
}

.heading-large {
    font-weight: 700;
}

.heading-small {
    font-weight: 300;
}

.text-desc {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: #4A5568;
}

.text-title {
    font-size: 30px;
    line-height: 55px;
    color: #1A202C;
    font-weight: 700;
    text-align: center;
}

.devloptext-subtitle {
    font-size: 35px;
    line-height: 55px;
    color: #1A202C;
    font-weight: 400;
}

.devloptext-title {
    font-size: 35px;
    line-height: 55px;
    color: #1A202C;
    font-weight: 700;
}

.devloptext-desc {
    font-size: 18px;
    line-height: 36px;
    color: #718096;
    font-weight: 400;
}

.customertext-subtitle {
    font-size: 35px;
    line-height: 55px;
    color: #1A202C;
    font-weight: 400;
    text-align: center;
}

.customertext-title {
    font-size: 35px;
    line-height: 55px;
    color: #1A202C;
    font-weight: 700;
    text-align: center;
}

.customertext-name {
    font-size: 16px;
    line-height: 25px;
    color: #A0AEC0;
    font-weight: 400;
    text-align: center;
}

.customertext-job {
    font-size: 11px;
    line-height: 25px;
    color: #E2E8F0;
    font-weight: 400;
    text-align: center;
}

.casetext-title {
    font-size: 28px;
    line-height: 25px;
    color: #2D3748;
    font-weight: 600;
}

.casetext-desc {
    font-size: 14px;
    line-height: 25px;
    color: #4A5568;
    font-weight: 400;
}

.Softwaretext-title {
    font-size: 28px;
    line-height: 25px;
    color: #1A202C;
    font-weight: 600;
}

.Softwaretext-desc {
    font-size: 18px;
    line-height: 30px;
    color: #4A5568;
    font-weight: 400;
}

.Softwaretext-gredient {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.Softwaretext-CEO-name {
    font-size: 16px;
    line-height: 25px;
    color: #1A202C;
    font-weight: 400;
}

.Softwaretext-CEO {
    font-size: 13px;
    line-height: 25px;
    color: #718096;
    font-weight: 400;
}

.Approachtext-title {
    font-size: 20px;
    line-height: 25px;
    color: #1A202C;
    font-weight: 600;
}

.Approachtext-desc {
    font-size: 14px;
    line-height: 25px;
    color: #4A5568;
    font-weight: 400;
}

.Alcalinetext-title {
    font-size: 18px;
    line-height: 25px;
    color: #1A202C;
    font-weight: 600;
}

.Alcalinetext-desc {
    font-size: 14px;
    line-height: 20px;
    color: #718096;
    font-weight: 400;
}

.FeatureText-title {
    font-size: 16px;
    line-height: 25px;
    color: #2D3748;
    font-weight: 500;
    margin-bottom: 20px;
}

.HireText-title{
     font-size: 35px;
    line-height: 55px;
    color: #27272E;
    font-weight: 700;
}

.HireText-title{
     font-size: 35px;
    line-height: 55px;
    color: #27272E;
    font-weight: 700;
}

.FootorText-con{
    font-size: 18px;
    line-height: 30px;
    color: #718096;
    font-weight: 400;
}
.FootorText-link{
    font-size: 18px;
    line-height: 30px;
    color: #4A5568;
    font-weight: 700;
}

.FootorText-links{
    font-size: 16px;
    line-height: 30px;
    color: #718096;
    font-weight: 400;
}

.FootorText-reversed{
    font-size: 14px;
    line-height: 10px;
    color: #4A5568;
    font-weight: 400;
}

.floating-circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    /* animation: float 6s ease-in-out infinite; */
}

/* @keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
} */


.slidertext-title {
    font-size: 20px;
    line-height: 55px;
    color: #2D3748;
    font-weight: 600;
}

.slidertext-desc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: Gray/gray-600;
}

.slick-slide.slick-current .slidertext-title {
    background: linear-gradient(90deg, #7B2869 0%, #C4367D 50%, #8B2B7A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.line-left {
    width: 60px;
    height: 5px;
    background: linear-gradient(90deg, #57007B, #F76680);
    margin-bottom: 20px;
    display: block;
}

.line-center {
    width: 60px;
    height: 5px;
    background: linear-gradient(90deg, #57007B, #F76680);
    margin: 0 auto 20px;
}