.work-Warpper{
    padding-left: 100px;
    padding-right: 100px;
}.Work-slider {
  background-color: rgb(247, 247, 250);
  width: 100%;
  margin: 40px auto;
  border-top: 1px solid rgb(231, 218, 237);
  border-bottom: 1px solid rgb(231, 218, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;   /* max-height nikaline fixed height */
  position: relative;
}

.Work-slider .slider-wrapper {
  width: 100%;
}

.Work-slider .slide img {
  max-width: 100%;
  max-height: 80px;     /* logo height control */
  object-fit: contain;
  padding: 10px;  /* IMPORTANT for logos */
}
